#create_event_header{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

.form-component{
    margin-bottom: 10px;
}

.submit-button{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
}

.datepicker {
    background-color: #f8f9fa;
    font-size: var(--text-socialworker);
    margin-top: 60px;
}

.datepicker table tr td.active.active {
    background-color: #C5D8D1;
}

.datepicker .next{
    background-color: #C5D8D1;
}

.datepicker .prev {
    background-color: #C5D8D1;
}
