:root {
    --yankeesBlue: #12263A;
    --mustardGreen: #697821;
    --americanSilver: #C5D8D1;
    --sonicSilver: #767575;
    --philippineSilver: #B1B1B1;
    --platinum: #E4E4E4;
    --heading_one : 2rem;
    --heading_two: 1.5rem;
    --text_senior: 1.25rem;
    --text_social_worker: 1rem;

    --primary-color: #51A9BF;
    --secondary-color: #004864;
    /* --tertiary-color: */

    --primary-grey: #767575;
    --secondary-grey: #B1B1B1;
    --tertiary-grey: #E4E4E4;

    --button-col-primary: #51A9BF;
    --button-col-active: #004864;
    --button-new : rgb(222, 77, 77);
    --button-complete: hsl(176, 94%, 32%);
    --button-progress: hsl(36, 73%, 59%);
}

.heading-one {
    font-size: 2rem;
}

.heading-two {
    font-size: 1.5rem;
}

.text-senior {
    font-size: 1.25rem;
}

.text-socialworker {
    font-size: 1rem;
}
body {

    background-image: url(../img/subtle-prism-bg.svg);
    gap: 16px;
}

.selector-holder span{
    font-size: 0.9rem !important;
}