.btn-group-vertical > button{
    margin-bottom:30px;
    border-radius:30px !important;
}

#logo-image {
    max-width: 100%;
    max-height: 100%;
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
