a {
    font-size: 1.25rem;
    cursor: pointer;
}
.container-fluid {
    padding: 5%;
    justify-content: center;
    font-size: 1.25rem;
    overflow: auto;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
}
.wish-bubbles-container {
    padding-top: 10%;
    overflow: auto;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
}
.wish-bubble {
    background-color: var(--button-col-primary);
    border-radius: 10px;
    width: 200px;
    margin: 10px 0;
}
.wish-bubble:active, .wish-bubble:hover {
    background-color: var( --button-col-active);
    color: white;
}
.input-container {
    position: fixed;
    left: 0px;
    bottom: 10%;
    width: 100%;
    text-align: center;
}
.button-container {
    margin:0 auto;
    text-align: center;
}
#wish-input {
    margin: 10px auto;
    width: 90%;
    font-size: 1.25rem;
}
#submit-btn {
    min-width: 200px;
    font-size: 1.25rem;
}
#microphone-container {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    line-height: 100px;
    margin: 0 auto;
    cursor: pointer;
}
.btn {
    font-size: 1.25rem;
}
#submit-btn:active, #submit-btn:hover {
    background-color: var( --button-col-active);
    color: white;
}
.alert {
    position:absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}