html {
  position: relative;
  min-height: 100%;
  font-size: 1rem;
}

body {
  margin-bottom: 80px;
  margin-top: 60px;
  font-family: "Open Sans";
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  border-top: 1px solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  border-top: 1px solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.container-fluid {
  text-align: center;
  height: 80vh;
  overflow: auto;
}

#userinfo-container {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

#home-buttons-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.group-container {
  padding: 0;
  height: 100%;
}

.selectors,
.block {
  height: 100%;
  width: 100%;
}

.selectors button {
  border: 0;
  border-radius: 0;
  background-color: #f8f9fa !important;
  width: 25%;
  margin-left: 0;
}

.selectors button:active {
  border: 0;
}

.selectors button:focus {
  border: 0;
  outline: 0;
  box-shadow: 0 0 0 0px;
}

.active,
.selector-holder {
  display: flex;
  flex-direction: column;
}

.inactive {
  display: none;
}

.selector-holder span {
  font-size: 0.8rem;
}

.btn {
  background-color: #51A9BF;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-align: center;
  border: 0;
  border-radius: 15px;
}

.button-active,
.selectors button:hover,
.selectors button:active,
.selectors button:focus {
  color:var( --button-col-active);
}

.button-inactive {
  color: #12263a;
}

.btn-group-vertical.center {
  width: 80%;
  margin-top: 30px;
  text-align: center;
}

.btn-group-vertical.center button:active,
.btn-group-vertical.center button:hover {
  background-color: var( --button-col-active);
  color: white;
}

#edit-image {
  height: 50%;
  width: 50%;
  max-height: 40px;
  max-width: 40px;
}

.edit-button {
  border: none;
  background-color: white;
}
.heading {
  float: left;
}
.collapse-btn {
  float: right;
}

table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
}

#manage_wishes_header{
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}
.card-header-new{
  background-color: rgb(222, 77, 77);
  color: white;
}

.card-header-progress {
background-color:hsl(36, 73%, 59%);
color: white;
}

.card-header-comp {
  background-color: hsl(176, 94%, 32%);
  color: white;
}

#new-btn, #progress-btn, #completed-btn {
  background-color: white;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}