.minh-vh-50 {
    min-height: 50vh;
}

.vh-70 {
    height: 70vh;
}

#tutorial-header {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

.toggle-tutorial {
    position: relative;
    top: 5vh;
    left: -42vw;
    min-height: 0;
    height: 0;
}

.tutorial-view {
    position: absolute;
    width: 98vw;
    max-height: 70vh; 
    aspect-ratio: 7/5;
    left: 50%;
    margin-left: -49vw;
    border:none;
}

.tutorial-disabled {
    background-color: #00486488;
    color: #ffffff88;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #004864;
    background-color: #004864;
}

#tutorial-frame-id {
    margin-top: 120px;
}