.container-fluid {
    height: 100%;
}
.wishboard-container {
    margin: 15% auto;
}
.wish-in-progress {
    background-color: #FEFFC0;
}
.wish-completed {
    background-color: #ABFFB8;
}
.wish-wished {
    background-color: #FFCECE;
}
.card {
    margin-top: 16px;
}
.wish-item {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}
.wish-item-content {
    width: 25%;
}
.wish-item-time {
    width: 40%;
}
.wish-item-status {
    width: 40%;
}
.btn-container {
    position: fixed;
    left: 0px;
    bottom: 10%;
    width: 100%;
    text-align: center;
}
#make-wish-btn {
    min-height: 50px;
    min-width: 150px;
}