a{
    font-size: 1.25rem;
}
.container-fluid {
    text-align: center;
    overflow: auto;
}
.wishboard-container {
    margin: 50px auto;
}
.wishes-container {
    height: 55vh;
    max-height: 500px;
    overflow: auto;
}
.wish-in-progress {
    background-color: #FEFFC0;
}
.wish-completed {
    background-color: #ABFFB8;
}
.wish-wished {
    background-color: #FFCECE;
}
.card {
    margin-top: 16px;
    width: 80vw;
}
.wish-item {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}
.wish-item-content {
    width: 25%;
}
.wish-item-time {
    width: 40%;
}
.wish-item-status {
    width: 40%;
}
.btn-container {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    text-align: center;
}
#make-wish-btn {
    min-height: 50px;
    min-width: 200px;
    font-size: 1.25rem;
}
#make-wish-btn:active, #make-wish-btn:hover {
    background-color: var( --button-col-active);
    color: white;
}
.card-body {
    font-size: 1.25rem;
}