<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="#">
    <title>Facility Genie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/makeWishes.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>

<body>

  <%- include("./partials/header.ejs") %>  

    <div class="container-fluid">
        <div id="wish-bubbles-container" class="wish-bubbles-container">
            <div class="d-flex align-items-start flex-column">
                <a class="wish-bubble p-2" style="color: white;" onclick="autoFill(this.text)">Glasses</a>
            </div>
            
            <div class="d-flex align-items-end flex-column">
                <a class="wish-bubble p-2" style="color: white;" onclick="autoFill(this.text)">Books</a>
            </div>

            <div class="d-flex align-items-start flex-column">
                <a class="wish-bubble p-2" style="color: white;" onclick="autoFill(this.text)">Coffee Machine</a>
            </div>

            <div class="d-flex align-items-end flex-column">
                <a class="wish-bubble p-2" style="color: white;" onclick="autoFill(this.text)">World War Documentary</a>
            </div>
        </div>
    </div>

    <div class="input-container">
        <div id="microphone-container" data-toggle="modal" data-target="#recordingModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </div>
        <input type="input" class="form-control" id="wish-input" placeholder="Type in what you want">
        <div class="button-container">
            <button id="submit-btn" class="btn" type="button" class="btn btn-primary" data-toggle="modal" onclick="postWish()">Submit</button>
        </div>
        
    </div>
  
  <!-- Success Modal -->
  <%- include("./partials/successModal.ejs", {be_posted: "wish" }) %>

  <!-- Recording Modal -->
  <div class="modal fade" id="recordingModal" tabindex="-1" role="dialog" aria-labelledby="recordingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recordingModalTitle">Recording...</h5>
        </div>
        <div class="modal-body">
            <div class="p-3" style="border: 1px solid #C5D8D1; border-radius: 8px;">
                <span id="final"></span>
                <span id="interim"></span>
              </div>
        </div>
        <div class="modal-footer">
          <button id="finish-recording-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Finish Recording</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert -->
  <div class="alert alert-danger alert-dismissible fade" role="alert">
    Please input your wish!
    <button type="button" class="close" aria-label="Close" onclick="$('.alert').removeClass('show')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%- include("./partials/footer.ejs") %>

<script>
  document.querySelector("#wishboard").classList.remove("button-inactive");
  document.querySelector("#wishboard").classList.add("button-active");
</script>
<script src="../utils/http.js"></script>
<script src="../utils/api.js"></script>
<script src="../utils/makeWish.js"></script>
<script src="../utils/speechRecognition.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="utils/common.js"></script>

</body>
</html>