<footer class="footer">
    <div id="buttonGroup" class="btn-group selectors" role="group">
        <button id="home" type="button" class="btn btn-secondary">
            <div class="selector-holder" onclick="window.location.replace('/')">
                <i class="material-icons">home</i>
                <span>Home</span>
            </div>
        </button>
        <button id="wishboard" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder" onclick="window.location.replace('/wishes')">
                <i class="material-icons">card_giftcard</i>
                <span>WishBoard</span>
            </div>
        </button>
        <button id="tutorials" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder" onclick="goToTutorials()">
                <i class="material-icons">ondemand_video</i>
                <span>Tutorials</span>
            </div>
        </button>
        <button id="events" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder">
                <i class="material-icons">event_available</i>
                <span>Events</span>
            </div>
        </button>
    </div>
</footer>
<script>
    function goToTutorials() {
        const role = localStorage.getItem("role");
        if (role === "resident") {
            window.location.replace("/tutorials");
        } else if (role === "staff") {
            window.location.replace("/manageTutorials");
        }
    }
</script>