<nav class="navbar fixed-top navbar-light bg-light">
    <h2 class="navbar-brand mb-0">
        Facility Genie
    </h2>
    <!-- <img src="img/logo.png" style="height: 50px;"> -->
    <button id="logout" type="button" class="btn btn-secondary">
        <span>
            <i class="material-icons" style="float: left;" onclick="logout()">logout</i>
            Logout
        </span>
    </button>
</nav>
<script src="utils/login.js"></script>
